pymodbus==3.6.4
# Note: Other dependencies like dbus, gi (GLib), and vedbus are system-installed on Venus OS via opkg.
# This file covers pip-installable packages.

pyyaml==6.0.1  # For YAML config parsing
pytz
aiohttp<4  # For Tibber API integration
